---
// Site wordmark.
import { site } from '../lib/site';
---

<header class="px-6 pb-3 pt-6">
  <div class="font-display text-3xl font-medium leading-none tracking-tight text-text">
    {site.name}
  </div>
</header>
